.input{
  display: flex;
  font-size: 16px;
  justify-content: space-between; 
  align-items: center;
  height: 52px;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid white;
  padding: var(--space-s) var(--space-xs);
  gap: var(--space-xxs);
  margin: 0;
  line-height: 20px;
  letter-spacing: 0%;
}
.input input{
  border: none;
  background-color: none;
  background: transparent; /* Убираем фон */
  border: none;             /* Убираем рамку */
  outline: none;            /* Убираем синюю обводку при фокусе */
  padding: 0;               /* Убираем внутренние отступы */
  margin: 0;                /* Убираем внешние отступы */
  appearance: none;         /* Отключаем системный вид (важно для iOS) */
  box-shadow: none;         /* Убираем тени */
  font-family: inherit;     /* Наследуем шрифт от родителя */
  font-size: inherit;
  width: 300px;
  color: black;
}

input:hover, input:active{
  border: none;
}
.logo{
  margin: auto 0;
}
input::placeholder{
  color: #AFADB5;
}
.input:focus-within{
  border: 1px solid var(--brand);
}
.input-disabled{
  color: #AFADB5;
}