.btn{
  display: flex;
  border: none;
  font-size: 18px;
  gap: var(--space-xxs);
  justify-content: center; 
  align-items: center;
  background-color: var(--brand);
  min-height: 52px;
  padding: var(--space-s) var(--space-l);
  border-radius: var(--border-radius);
  color: white;
  font-family: 'Roboto' !important;
  line-height: 18px;
}
.btn:not(:disabled):hover{
  background-color: var(--brand-hover);
}
.btn:active{
  background-color: var(--brand-active);
}
.btn-disabled, .btn-disabled:hover{
  background-color: var(--brand-disabled);
  cursor: not-allowed;  
}