@use 'styles/variables' as var;
@use 'styles/mixins' as *;

.header{
  background-color: white;
  @include flex-align;
  justify-content: space-between;
  padding: var.$space-s 100px;
  gap: 60px;

  @include dekstop {
    padding: var.$space-s 30px;
    gap: 20px;
  }
  @include mobile {
    padding: var.$space-s 10px;
  }





  &__logo{
    display: flex;
    gap: var.$space-l;
    align-items: center;
  }

  &__personal{
    display: flex;
    gap: var.$space-m;
  }

  @include tablet{
    flex-wrap: wrap;
    justify-content: space-between;

    &__nav{
      order: 3;
      flex-basis: 100%;

    }
  }
}

.nav{
  flex-grow: 1;

  &__list{
    @include flex-align;
    justify-content: flex-start;
    gap: var.$space-m;

    @include dekstop {
      gap: var.$space-xs;

      &__link{
        text-align: center;
      }
    }

    @include tablet{
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
    }

    &__link:hover p{
      font-weight: 600 !important;
      color: var.$brand;
    }

  }

}





